* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

/* -----------------Header & Navigation Section---------------- */
header nav {
    width: 100vw;
    padding: 30px 12px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.logo {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 10px gray;
}

.logo span {
    color: #FFD700;
    text-shadow: 0 0 10px gray;
    font-size: 25px;
    font-weight: 600;
}

.hamburg, .cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
}

.nav-menu {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-menu a {
    position: relative;
    margin: 0 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: width 0.3s ease;
}

.nav-menu a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: gold;
    transition: 0.2s linear;
}

.nav-menu a:hover::before {
    width: 100%;
}

.nav-menu a:hover {
    color: #FFD700;
}

.nav-menu a:active {
    color: gray;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 5vh;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px gray;
    transition: 0.2s linear;
    display: none;
}

.dropdown div a {
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
    align-items: center;
    transition: background-color 0.2s linear;
}

.dropdown div a:hover {
    background-color: gold;
}

.dropdown div a.active {
    color: gold;
    transform: translateY(0);
    display: block;
}

/* -----------------Hero Section---------------- */
#hero {
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    text-align: left;
    background: white;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-contain {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    flex-direction: row-reverse;
}

.main-contain .image img {
    width: 450px;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.main-contain .content {
    color: black;
    width: 50%;
}

.content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content h1 span {
    color: gold;
    /*text-shadow: 0 0 5px;*/
    font-size: 62px;
}

.content .typewriter {
    font-weight: 600;
    font-size: 42px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0 solid gray;
    animation: blink-caret 0.1s infinite;
}

.content .typewriter span {
    color: gray;
    font-size: 42px;
    /*text-shadow: 0 0 5px black;*/
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.typewriter span::before {
    content: "Full-stack Developer";
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    animation: typing 3s steps(200, end) infinite;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: gray;
    }
}

.content p {
    font-size: 18px;
    margin: 25px 0 30px;
    line-height: 1.6;
    color: black;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-icons i:hover {
    transform: scale(1.1);
    color: gold;
    background-color: black;
    filter: drop-shadow(0 0 10px gray);
}

.content button {
    width: 250px;
    height: 6vh;
    margin: 20px 0;
    background-color: transparent;
    color: black;
    border: 2px solid gold;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.2s linear;
}

.content button:hover {
    transform: scale(1.1);
    color: black;
    background-color: gold;
    box-shadow: 0 0 20px gray;
}


/* -----------------About Section---------------- */
#about {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background: black;
    padding: 0 100px;
    position: relative;
}

/*.arrow {
    position: absolute;
    bottom: 50px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
} */

.heading-a {
    /*display: flex;*/
    /*justify-content: center;*/
    position: relative;
    left: 40px;
}

.heading-a span {
    color: gray;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: 35px;
}

.about-contain {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 40px;
    /*padding: 0 200px;*/
}

.about-contain .about-text {
    color: white;
    padding: 0 100px;
    text-align: left;
}

.about-text h1 {
    font-size: 50px;
    text-shadow: 0 0 10px gray;
}

.about-text h1 span {
    color: gold;
    text-shadow: 0 0 10px gray;
    font-size: 50px;
}

.about-text p {
    color: white;
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.2;
}

.link-sections {
    display: flex;
    gap: 3rem;
    justify-content: left;
    margin: 35px 0;
}

.link-sec a {
    position: relative;
    margin: 0 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: width 0.3s ease;
}

.link-sec a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: gold;
    transition: 0.2s linear;
}

.link-sec a:hover::before {
    width: 100%;
}

.link-sec a:hover {
    color: #FFD700;
}

.link-sec a:active {
    color: gray;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.buttons button {
    padding: 10px 50px;
    height: 5vh;
    margin: 10px;
    border: 2px solid gold;
    color: white;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    transition: 0.2s linear;
}

.buttons button:hover {
    scale: 1.1;
    color: black;
    background-color: gold;
    font-weight: 700;
    box-shadow: 0 0 40px gray;
}


/* -----------------My Skills Section---------------- */
#my-skills {
    width: 100%;
    min-height: 50vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrow {
    position: absolute;
    bottom: 100px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
}

.heading2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
    text-shadow: 0 0 10px gray;
}

.heading2 span {
    font-size: 40px;
    color: gold;
    text-shadow: 0 0 10px gray;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: nowrap;  /*ensures the items don't wrap onto a new line.*/
}

.skills-container figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    flex-shrink: 0;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
}

.skills-container figure:hover {
    transform: translateY(-10px);
}

.skills-container img {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.skills-container img:hover {
    transform: scale(1.1);
}

.skills-container figcaption {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}


/* -----------------Education Section---------------- */
#education {
    width: 100vw;
    min-height: 100vh;
    padding: 100px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.arrow {
    position: absolute;
    bottom: 50px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: black;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
}

.heading-e {
    display: flex;
    justify-content: center;
}

.heading-e span {
    color: black;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.heading {
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.heading span {
    font-size: 50px;
    color: gold;
}

.timeline-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
    background-color: gold;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
    text-align: left;
}

.timeline-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gold;
    box-shadow: 0 0 25px gold;
    border-radius: 50%;
    left: calc(50% - 10px);
    top: 10%;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: black;
    margin: 6px 0 15px;
}

.timeline-item:nth-child(even) .timeline-date {
    padding-left: calc(0% + 0px);
    text-align: left;
}

.timeline-content {
    background-color: white;
    border: 2px solid gold;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px gray;
}

.timeline-image img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    position: absolute;
    top: 0;
}

.timeline-item:nth-child(odd) .timeline-image img {
    right: calc(15% + 0px);
    left: auto;
}

.timeline-item:nth-child(even) .timeline-image img {
    left: calc(15% + 0px);
    right: auto;
}


/* -----------------Project Section---------------- */
#projects {
    width: 100vw;
    min-height: 100vh;
    padding: 100px 15px;
    background-color: rgba(206, 212, 218, 0.53);
    text-align: center;
    position: relative;
}

.project-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 20px;
}

.heading-p {
    display: flex;
    justify-content: center;
}

.heading-p span {
    color: black;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    bottom: 25px;
}

.heading4 {
    color: black;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.heading4 span {
    font-size: 50px;
    color: gold;
}

.arrow {
    position: absolute;
    bottom: 50px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: black;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.project {
    min-height: 400px;
    max-width: 350px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: black;
    transition: 0.4s ease-in-out;
}

.project:hover {
    border: 1px solid gray;
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 20px gray;
    background-color: #ffb400;
}

.project img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 1px solid #000000;
}

.project h3 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.project p {
    font-size: 16px;
    color: black;
    line-height: 1.3;
    margin-bottom: 15px;
    font-weight: 300;
}

.project:hover h3 {
    color: white;
}

.project:hover p {
    color: white;
}

.button-g {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    border: 3px solid gold;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s linear;
    background-color: transparent;
}

.button-g:hover {
    scale: 1.1;
    color: #F9F5F0;
    background-color: black;
    font-weight: 600;
}

.button-g i {
    margin-left: 9px;
}


/* -----------------Assignments Section---------------- */
#assignments {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    /*display: flex;*/
    /*justify-content: space-around;*/
    padding: 100px 15px;
}

.arrow {
    position: absolute;
    bottom: 50px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: black;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
}

.assign-heading {
    display: flex;
    justify-content: center;
}

.assign-heading span {
    color: black;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.assignment-heading {
    color: black;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
}

.assignment-heading span {
    font-size: 50px;
    color: gold;
}

.assignments-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 100px;
}

.assignments-carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
    padding: 20px;
}

.assignments-card {
    flex: 0 0 auto;
    width: 400px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.assignments-card i {
    font-size: 2rem;
    color: gold;
    margin-bottom: 10px;
}

.assignments-card h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}

.assignments-card p {
    font-size: 1rem;
    color: black;
}

.nav-button {
    background-color: gold;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: black;
}

.nav-button i {
    color: white;
}

/* -----------------Gallery Section---------------- */
#gallery {
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding: 0 20px;
    text-align: center;
}






