* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

/* -----------------Header & Navigation Section---------------- */
header nav {
    width: 100%;
    padding: 30px 12px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 10px black;
}

.logo span {
    color: #00E5EE;
    text-shadow: 0 0 10px black;
    font-size: 25px;
    font-weight: 600;
}

.hamburg, .cancel {
    cursor: pointer;
    color: white;
    font-size: 1.8rem;
    display: none;
    transition: all 0.3s ease;
}

.hamburger:hover, .cancel:hover {
    color: #00E5EE;
}

.nav-menu {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-menu a {
    position: relative;
    margin: 0 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: width 0.3s ease;
}

.nav-menu a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00E5EE;
    transition: 0.2s linear;
}

.nav-menu a:hover::before {
    width: 100%;
}

.nav-menu a:hover {
    color: #00E5EE;
}

.nav-menu a:active {
    color: white;
}

.dropdown {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    transform: translateY(-150%);
    transition: transform 0.3s ease;
    z-index: 999;
    display: none;
}

.dropdown div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.dropdown div a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.dropdown div a:hover {
    color: #00E5EE;
}

.cancel {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
}

.dropdown div a.active {
    color: white;
    transform: translateY(0);
    display: block;
}

/* -----------------Hero Section---------------- */
#hero {
    width: 100%;
    height: 100vh;
    padding: 0 20px 0 0;
    text-align: left;
    background: black;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;


}

.main-contain {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    flex-direction: row-reverse;
}

.image {
    position: relative;
    width: 400px;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
    background: linear-gradient(135deg, #00FFCC, #00E5EE);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.image:hover {
    transform: translateY(-10px);
    box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
}

.main-contain .image img {
    /*width: 100%;
    max-width: 450px;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(30%) contrast(110%);
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
}

.image:hover img {
    filter: grayscale(0%) contrast(100%);
    transform: scale(1.05);
}

.main-contain .content {
    color: white;
    width: 50%;
}

.content h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content h1 span {
    background: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2.5s linear infinite;
    font-weight: 700;
    font-size: 60px;
}

@keyframes shine {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.content .typewriter {
    font-weight: 600;
    font-size: 40px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0 solid black;
    animation: blink-caret 0.1s infinite;
}

.content .typewriter span {
    color:  white;
    font-size: 40px;
    font-style: italic;
    /*text-shadow: 0 0 5px black;*/
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.typewriter span::before {
    content: "Full-stack Developer";
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    animation: typing 3s steps(200, end) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: gray;
    }
}

.content p {
    font-size: 16px;
    margin: 25px 0 30px;
    line-height: 1.6;
    color: white;
}

.social-icons {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
    transition: 0.2s linear;
}

.social-icons i:hover {
    transform: translateY(-3px);
    color: #00E5EE;
    background-color: black;
    filter: drop-shadow(0 0 10px #00E5EE);
    border-color: #00E5EE;
}

.content button {
    width: 250px;
    height: 6vh;
    margin: 30px 0;
    background-color: transparent;
    color: white;
    border: 2px solid #00E5EE;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    transition: 0.2s linear;
}

.content button:hover {
    transform: scale(1.1);
    color: black;
    background: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    box-shadow: 0 0 20px gray;
}


/* -----------------About Section---------------- */
#about {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background: #0e0e0e;
    padding: 100px 100px;
    position: relative;
    overflow: hidden;
}

.arrow {
    position: absolute;
    bottom: 100px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
}

.heading-a {
    /*display: flex;*/
    /*justify-content: center;*/
    position: relative;
    left: 40px;
}

.heading-a span {
    color: gray;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: 35px;
}

.about-contain {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 40px;
    /*padding: 0 200px;*/
}

.about-contain .about-text {
    color: white;
    padding: 0 100px;
    text-align: left;
}

.about-text h1 {
    font-size: 50px;
}

.about-text h1 span {
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.about-text p {
    color: white;
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.2;
}

.link-sections {
    display: flex;
    gap: 3rem;
    justify-content: left;
    margin: 35px 0;
}

.link-sec a {
    position: relative;
    margin: 0 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: width 0.3s ease;
}

.link-sec a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00E5EE;
    transition: 0.2s linear;
}

.link-sec a:hover::before {
    width: 100%;
}

.link-sec a:hover {
    color: #00E5EE;
}

.link-sec a:active {
    color: gray;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.buttons button {
    padding: 10px 50px;
    height: 5vh;
    margin: 10px;
    border: 2px solid #00E5EE;
    color: white;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    transition: 0.2s linear;
}

.buttons button:hover {
    scale: 1.1;
    color: black;
    background: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    font-weight: 700;
    box-shadow: 0 0 40px gray;
}


/* -----------------My Skills Section---------------- */
#my-skills {
    width: 100%;
    min-height: 50vh;
    background: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.arrow {
    position: absolute;
    bottom: 50px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
}

.heading2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
}

.heading2 span {
    font-size: 50px;
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    -webkit-background-clip: text;
    color: transparent;

}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;  /*ensures the items don't wrap onto a new line.*/
}

.skill-card {
    flex: 0 0 auto;
    width: 85px;
    height: 85px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.skill-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 5px;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
}

.skill-card p {
    font-size: 14px;
    margin: 0;
    color: black;
    font-weight: bold;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.skill-card:hover img {
    transform: scale(1.1);
    opacity: 1;
}


/* -----------------Education Section---------------- */
#education {
    width: 100%;
    min-height: 100vh;
    padding: 100px 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.heading-e span {
    color: gray;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.heading {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.heading span {
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
}

.timeline-items {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    margin-bottom: 2.5rem;
    width: 100%;
}

.timeline-dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    border-radius: 50%;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 0 0 4px black, 0 0 0 6px #00E5EE;
}

.timeline-date {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-bottom: 0.5rem;
    position: relative;
    top: 30px;
}

.timeline-item:nth-child(odd) .timeline-date {
    padding-left: calc(55% + 0px);
    text-align: left;
}

.timeline-item:nth-child(even) .timeline-date {
    padding-left: calc(35% + 0px);
    text-align: left;
}

.timeline-content {
    position: relative;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC) 1;
    padding: 1.5rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    width: calc(150% - 50px);
    color: white;
    clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%);
}

.timeline-item:nth-child(even) .timeline-content {
    left: calc(57% - 0px);
    right: auto;
}

.timeline-item:nth-child(odd) .timeline-content {
    right: calc(95% - 0px);
    left: auto;
}

.timeline-content h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 25px;
    color: white;
}

.timeline-content p {
    margin-bottom: 0;
    font-size: 18px;
    color: white;
}

.timeline-image-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    width: 100%;
    text-align: center;
}

.timeline-image-container.show {
    max-height: 300px;
    margin-top: 1rem;
}

.timeline-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border: 2px solid #00E5EE;
}


/* -----------------Project Section---------------- */
#projects {
    width: 100vw;
    min-height: 100vh;
    padding: 100px 15px;
    background-color: #0e0e0e;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.project-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 20px;
}

.heading-p {
    display: flex;
    justify-content: center;
}

.heading-p span {
    color: gray;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    bottom: 25px;
}

.heading4 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.heading4 span {
    font-size: 50px;
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    -webkit-background-clip: text;
    color: transparent;
}

.arrow {
    position: absolute;
    bottom: 50px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: black;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.project {
    min-height: 400px;
    max-width: 350px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: black;
    transition: 0.4s ease-in-out;
}

.project:hover {
    border: 1px solid #00E5EE;
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 20px #00E5EE;
    background-color: white;
}

.project img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 1px solid #000000;
}

.project h3 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.project p {
    font-size: 16px;
    color: black;
    line-height: 1.3;
    margin-bottom: 15px;
    font-weight: 300;
}

.project:hover h3 {
    color: white;
}

.project:hover p {
    color: white;
}

.button-g {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    border: 3px solid gold;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s linear;
    background-color: transparent;
}

.button-g:hover {
    scale: 1.1;
    color: #F9F5F0;
    background-color: black;
    font-weight: 600;
}

.button-g i {
    margin-left: 9px;
}


/* -----------------Assignments Section---------------- */
#assignments {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    /*display: flex;*/
    /*justify-content: space-around;*/
    padding: 100px 15px;
    position: relative;
    overflow: hidden;
}

.arrow {
    position: absolute;
    bottom: 50px;
    right: 40px;
    transform: translateX(-50%);
    font-size: 24px;
    color: black;
    transition: margin-top 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 0.5rem;
}

.assign-heading {
    display: flex;
    justify-content: center;
}

.assign-heading span {
    color: gray;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.assignment-heading {
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
}

.assignment-heading span {
    font-size: 50px;
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    -webkit-background-clip: text;
    color: transparent;
}

.assignments-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 100px;
}

.assignments-carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
    padding: 20px;
}

.assignments-card {
    flex: 0 0 auto;
    width: 400px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px #00E5EE;
    text-align: center;
}

.assignments-card i {
    font-size: 2rem;
    color: #00E5EE;
    margin-bottom: 10px;
}

.assignments-card h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}

.assignments-card p {
    font-size: 1rem;
    color: black;
}

.nav-button {
    background: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: transparent;
    border: 2px solid #00E5EE;
    color: white;
}

.nav-button i {
    color: black;
}

/* -----------------Gallery Section---------------- */
#gallery {
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.heading-g {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

.heading-g span {
    color: gray;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.gallery-heading {
    display: flex;
    justify-content: center;
    position: relative;
    top: 75px;
}

.gallery-heading h1 {
    font-size: 50px;
    color: white;
}

.gallery-heading h1 span {
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
}

.gallery-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 80px 10px;
    gap: 20px;
}

.left-side img,
.right-side img {
    width: 200px;
    position: relative;
    top: 20px;
}

.middle img {
    width: 400px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.middle {
    /*flex: 1;*/
    display: flex;
    justify-content: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery-box img {
    filter: grayscale(100%); /* Convert images to black and white*/
    transition: filter 0.3s ease;
}

.gallery-box img:hover {
    filter: grayscale(0%); /* Restore original colors on hover*/
}


/* -----------------Contact Section---------------- */
#contact {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contact-form .main-text span {
    color: gray;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: 30px;
}

.contact-form h1 {
    font-size: 50px;
    color: white;
}

.contact-form h1 span {
    background-image: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
}

.contact-form p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.contact-form form {
    text-align: center;
    max-width: 50rem;
    width: 100%;
    margin: 1rem auto;
}

.contact-form .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
}

.contact-form .input-box input {
    width: 100%;
    color: black;
    background-color: white;
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.input-box textarea {
    width: 100%;
    color: black;
    background-color: white;
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
    resize: none;
}

.btn-box {
    display: flex;
    justify-content: right;
    width: 100%;
    position: relative;
    top: 50px;
}

.btn-box input {
    width: 25%;
    height: 5vh;
    margin: 10px;
    color: white;
    border: 2px solid #00E5EE;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    transition: 0.2s linear;
    background-color: transparent;
}

.btn-box input:hover {
    scale: 1.1;
    color: black;
    background: linear-gradient(90deg, #00FFCC, #00E5EE, #00FFCC);
    font-weight: 700;
}

/* -----------------Footer Section---------------- */
footer {
    background-color: #0e0e0e;
    color: #F9F5F0;
    padding: 60px 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-details {
    flex: 1;
    min-width: 250px;
    text-align: left;
}

.footer-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}

.footer-details p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.8;
    position: relative;
    top: 20px;
}

.social-section {
    text-align: center;
    flex: 1;
    min-width: 250px;
}

.social-section h3 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
    position: static;
}

.social-icon {
    margin-top: 10px;
    position: relative;
    top: 20px;
}

.social-icon a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.social-icon a:hover {
    color: #00E5EE;
}

.contact-info {
    text-align: right;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 0;
    min-width: 250px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.1rem;
}

.contact-item span {
    font-size: 16px;
}

.contact-item i {
    color: white;
    font-size: 1.2rem;
    width: 25px;
    text-align: center;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #00E5EE, transparent);
    margin: 40px 0;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 0;
}








