* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right,rgb(255,255,255),rgb(254,215,173));
}

header nav {
    width: 100vw;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo {
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
}

.logo span {
    color: rgb(109,67,0);
    text-shadow: 0 0 10px rgb(109,67,0);
}

.hamburg, .cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
}

.nav-menu {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-menu a {
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: width 0.3s ease;
}

.nav-menu a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(109,67,0);
    transition: 0.2s linear;
}

.nav-menu a:hover::before {
    width: 100%;
}

.nav-menu a:hover {
    color: rgb(109,67,0);
}

.nav-menu a:active {
    color: rgb(170,110,20);
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 5vh;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%)blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
    display: none;
}

.dropdown div a {
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
    align-items: center;
    transition: background-color 0.2s linear;
}

.dropdown div a:hover {
    background-color: rgb(109, 67, 0);
}

.dropdown div a.active {
    color: rgb(170,110,20);
    transform: translateY(0);
    display: block;
}

/* Hero Section Styles */
#hero {
    width: 100%;
    height: 100vh;
    text-align: left;
    padding: 0 20px;
    background: linear-gradient(to right,rgb(255,255,255),rgb(254,215,173));
    position: relative;
    overflow: hidden;
}

.main-contain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.main-contain image {
    z-index: -1; /* Send image behind other content */
    width: 40%;
}

.main-contain .image img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.main-contain .content {
    color: black;
    width: 40%;
    min-height: 100px;
}

.content h1 {
    font-size: 35px;
}

.content h1 span {
    color: rgb(109,67,0);
    text-shadow: 0 0 10px rgb(109,67,0);
    font-size: clamp(1rem,2rem + 5vw,3rem);
}

.content .typewriter {
    font-weight: 600;
    font-size: clamp(1rem,1rem + 5vw,2rem);
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0 solid #b74b4b;
    animation: blink-caret 0.1s infinite;
}

.content .typewriter span {
    color: rgb(109,67,0);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgb(109,67,0);
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.typewriter span::before {
    content: "Full-stack Developer";
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    animation: typing 3s steps(200, end) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.content p {
    font-size: clamp(0.4rem,0.2rem + 9vw,1rem);
    margin: 10px 0;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(109,67,0);
    border-radius: 50%;
    color: rgb(109,67,0);
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}